body {
    font-family: Lexend;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
}

#stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #061536, #122b63);
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 5vh;
}

h1 {
    color: #ffffff;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

a {
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

a:hover {
    color: white;
}

#github {
    display: inline-block;
    margin: 20px 0;
}

#map {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: 70vh;
}

.info {
    max-width: 700px;
    margin: 0 auto;
    padding: 8px 24px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

#crew {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 8px 24px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius   : 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin: 40px;
}

.astronaut img {
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}